.box1{
	background-color: lightpink;
	height: 150px;
	width: 150px;
}
.box2{
	background-color: lightblue;
	height: 150px;
	width: 150px;
	position: absolute;
	left:158px;
}
.box3{
	background-color: lightgreen;
	height: 150px;
	width: 150px;
	position: relative;
	top: 150px;
}